.elements {
    display: flex;
    padding: 51px 0 0 0;
    margin: 0 auto;
    max-width: 880px;
    width: 100%;
}

@media screen and (min-width: 320px) and (max-width: 1280px) {
    .elements {
        padding-top: calc(36px + (51 - 36)*((100vw - 320px)/(1280 - 320)));
        max-width: calc(282px + (880 - 282)*((100vw - 320px)/(1280 - 320)));
    }
}